### 12. write a python program to square the elements of a list by using list comprehension.

In [1]:
def sqr(list):
    return[i**2 for i in list]

In [2]:
sqr([10,199,19,35])

[100, 39601, 361, 1225]

### 13.Write a pyhton program to drop duplicate elements from a list of numbers.

In [3]:
numbers=[27,13,26,4,13,54,55,56,73,15,98,65,4,26,98,3,73,16,56,13,95,80]
print("number list=",numbers,'\nnumber of element=',len(numbers),'\n')

new=list(set(numbers))
print('new list after dropping duplicated values=', new)
print('No of element dropped=', len(numbers)-len(new))

number list= [27, 13, 26, 4, 13, 54, 55, 56, 73, 15, 98, 65, 4, 26, 98, 3, 73, 16, 56, 13, 95, 80]
number of element= 22

new list after dropping duplicated values= [65, 98, 3, 4, 73, 13, 15, 16, 80, 54, 55, 56, 26, 27, 95]
No of element dropped= 7

### 14.	Take two sets of numbers and try implementing the set operations - intersection, union, difference and symmetric_difference between them.

In [4]:
A = {17, 32, 21,89,77,74, 96, 18}; 
B = {17, 32, 96, 84,12,11,21,77, 28}; 
print("Union :", A | B) 
print("\nIntersection :", A & B) 
print("\nDifference :", A - B) 
print("\nSymmetric difference :", A ^ B)

Union : {32, 96, 74, 11, 12, 77, 17, 18, 84, 21, 89, 28}

Intersection : {32, 96, 77, 17, 21}

Difference : {89, 74, 18}

Symmetric difference : {74, 11, 12, 18, 84, 89, 28}

### 15.	Write a python program to add the elements of a set.

In [5]:
s1 = { 'Laptop', 'Desktop', 'Printers', 'Ram'}
print('s1:\t', s1)

# adding ''Graphics" to the set
s1.add('Graphics card')
print('new s1:\t', s1)

# adding 'SDD' 
s1.add('SDD')
print('new s1:\t', s1)

s1:	 {'Printers', 'Laptop', 'Desktop', 'Ram'}
new s1:	 {'Desktop', 'Graphics card', 'Printers', 'Laptop', 'Ram'}
new s1:	 {'Desktop', 'Graphics card', 'Printers', 'SDD', 'Laptop', 'Ram'}